main.products1 {
  background: rgb(10, 186, 238);
  background: linear-gradient(
    180deg,
    rgba(10, 186, 238, 1) 0%,
    rgba(36, 56, 133, 1) 100%
  );
}

.container.products1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.breadcrum {
  background-color: #ea4c7d;
  display: none;
  z-index: 1000;
}

.breadcrum p {
  background-color: #ea4c7d;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 105px;
  margin: 0;
}

.cards1 {
  background: linear-gradient(
    180deg,
    rgba(36, 56, 133, 1) 20%,
    rgba(10, 186, 238, 1) 80%
  );
  width: 479px;
  height: 470px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.cards1:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  
}

.cards1 img {
  width: 507;
  height: 239;
}

.cards1 h4 {
  color: white;
  padding: 1rem 0;
}

.cards1 p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.cards1 a {
  text-decoration: none;
  color: black;
}

.cards1 a:hover {
  text-decoration: none;
  color: white;
}
