*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-serif;
}

main{
  width: 100%;  
}


.sidebar{
  width: 20vw;
  height: 100vh;  
  position: relative;  
  float: left;
  background-image: url(../../imagenes/bg-sidebar.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% center;
}

.sidebar ul{
  color: black;
}

.sidebar ul li{
  padding: 1rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2rem;
}

.sidebar a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin-left: 2rem;
  background: rgba(0,0,0,0.8);
  display: block;
  color: white;
  padding: 0.5rem;
}

.sidebar ul li a:first-child{
  width: 100%;
  display: block;  
  font-size: 1.4rem;  
  font-weight: bold;
  margin-left: 0;
}

.admin-content{
  width: 76vw;
  background: white;
  height: 90vh;
  position: relative;
  float: left;
  padding: 1.5rem;
}

.btn-primary{
  width: 100%;
  padding: 1rem 0.5rem;
  background: #c3c3c3;
  font-weight: bold;
  color: black;
  outline: none;
  border: none;
  margin-top: 1rem;
}

.btn-primary:hover{
  cursor: pointer;
}

.space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
