* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-serif;
  overflow: hidden;
}

.main-container {
  background: linear-gradient(
    180deg,
    rgba(10, 186, 238, 1) 0%,
    rgba(36, 56, 133, 1) 100%
  );
  padding: 30px;
  height: 100%;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(10, 186, 238);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 0px 0 12px 0;
}

img.logo {
  width: 20%;
}

.container {
  padding: 86px;
  text-align: center;
  margin: 0 100px 0 100px;
}
